<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>
      @section('title')
        DRYB | LTFRB Dashboard
      @endsection
    </title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/assets/vendor/animate.css/animate.css"/>
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.min.css"/>

    <!-- App styles -->
    <link rel="stylesheet" href="/assets/styles/pe-icons/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" href="/assets/styles/pe-icons/helper.css"/>
    <link rel="stylesheet" href="/assets/styles/stroke-icons/style.css"/>
    <link rel="stylesheet" href="/assets/styles/style.css">
    @!section('styles')

</head>
<body>

<!-- Wrapper-->
<div class="wrapper">

    <!-- Header-->
    @include('layouts.navbar')
    <!-- End header-->

    <!-- Navigation-->
    @include('layouts.sidemenu')
    <!-- End navigation-->

    <!-- Main content-->
    @!section('content')
    <!-- End main content-->

</div>

  <script src="/assets/vendor/pacejs/pace.min.js"></script>
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/vendor/flot/jquery.flot.min.js"></script>
  <script src="/assets/vendor/flot/jquery.flot.resize.min.js"></script>
  <script src="/assets/vendor/flot/jquery.flot.spline.js"></script>

  <script src="/assets/vendor/d3/d3.min.js"></script>
  <script src="/assets/vendor/topojson/topojson.min.js"></script>
  <script src="/assets/vendor/datamaps/datamaps.world.min.js"></script>
  <script src="/assets/vendor/moment/moment.js"></script>
  <script src="/assets/vendor/select2/dist/js/select2.js"></script>

  <script src="/assets/scripts/luna.js"></script>
  @!section('scripts')
</body>

</html>
